<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDemoProject"
        tools:targetApi="31">

        <!-- ui widgets -->
        <activity
            android:name=".uiwidgets.screens.guestsecurecheckoutscreen.ParkingReceiptActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidDemoProject.GuestSecureCheckout" />
        <activity
            android:name=".uiwidgets.screens.ScreensActivity"
            android:exported="false" />
        <activity
            android:name=".uiwidgets.screens.guestsecurecheckoutscreen.GuestSecureCheckoutActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidDemoProject.GuestSecureCheckout" />
        <activity
            android:name=".uiwidgets.navigation.NavigationActivity"
            android:exported="false"
            android:theme="@style/Theme.AndroidDemoProject.AppBarLayoutActivity" />
        <activity
            android:name=".uiwidgets.layouts.CoordinatorLayoutActivity"
            android:exported="false"
            android:label="Coordinator Layout" />
        <activity
            android:name=".uiwidgets.layouts.GridLayoutActivity"
            android:exported="false"
            android:label="Grid Layout" />
        <activity
            android:name=".uiwidgets.layouts.ConstraintLayoutActivity"
            android:exported="false"
            android:label="Constraint Layout" />
        <activity
            android:name=".uiwidgets.layouts.FrameLayoutActivity"
            android:exported="false"
            android:label="Frame Layout" />
        <activity
            android:name=".uiwidgets.layouts.TableLayoutActivity"
            android:exported="false"
            android:label="Table Layout" />
        <activity
            android:name=".uiwidgets.views.SeekbarActivity"
            android:exported="false"
            android:label="Seekbar" />
        <activity
            android:name=".uiwidgets.views.SpinnerActivity"
            android:exported="false"
            android:label="Spinner" />
        <activity
            android:name=".uiwidgets.DatePickerActivity"
            android:exported="false"
            android:label="Date Picker" />
        <activity
            android:name=".uiwidgets.layouts.RelativeLayoutActivity"
            android:exported="false"
            android:label="Relative Layout" />
        <activity
            android:name=".uiwidgets.layouts.LayoutsActivity"
            android:exported="false"
            android:label="Layouts" />
        <activity
            android:name=".uiwidgets.layouts.LinearLayoutActivity"
            android:exported="false"
            android:label="Linear Layout" />
        <activity
            android:name=".uiwidgets.views.ProgressbarActivity"
            android:exported="false"
            android:label="Progress Bar" />
        <activity
            android:name=".uiwidgets.views.ChipsActivity"
            android:exported="false"
            android:label="Chips" />
        <activity
            android:name=".uiwidgets.screens.designparticlescreens.DesignParticleLoginActivity"
            android:exported="false"
            android:label="Design Particle Login Screen" />
        <activity
            android:name=".uiwidgets.screens.designparticlescreens.DesignParticleSignupActivity"
            android:exported="false"
            android:label="Design Particle Screen"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".uiwidgets.appbarlayout.AppBarLayoutActivity"
            android:exported="false"
            android:label="App Bar Layout"
            android:theme="@style/Theme.AndroidDemoProject.AppBarLayoutActivity" />
        <activity
            android:name=".uiwidgets.tablayout.TabLayoutActivity"
            android:exported="false"
            android:label="Tab Layout" />
        <activity
            android:name=".uiwidgets.SnackbarActivity"
            android:exported="false"
            android:label="Snack Bar" />
        <activity
            android:name=".uiwidgets.views.FABActivity"
            android:exported="false"
            android:label="Floating Action Button" />
        <activity
            android:name=".uiwidgets.views.RadioButtonActivity"
            android:exported="false"
            android:label="Radio Button" />
        <activity
            android:name=".uiwidgets.views.CheckboxActivity"
            android:exported="false"
            android:label="Checkbox" />
        <activity
            android:name=".uiwidgets.RippleAnimationActivity"
            android:exported="false"
            android:label="Ripple Animation" />
        <activity
            android:name=".uiwidgets.ToastActivity"
            android:exported="false"
            android:label="Toasts" />
        <activity
            android:name=".uiwidgets.views.ButtonActivity"
            android:exported="true"
            android:label="Buttons" />
        <activity
            android:name=".uiwidgets.views.EditTextActivity"
            android:exported="false"
            android:label="Edit Text" />
        <activity
            android:name=".uiwidgets.views.TextViewActivity"
            android:exported="false"
            android:label="Text Views" />
        <activity
            android:name=".uiwidgets.views.ViewsActivity"
            android:exported="false"
            android:label="Views" />
        <activity
            android:name=".uiwidgets.UIWidgets"
            android:exported="false"
            android:label="Android UI Widgets" />

        <!-- activity, fragment, intents -->
        <activity
            android:name=".activityfragmentintents.pendingintents.PendingIntentDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".activityfragmentintents.pendingintents.PendingIntentDemoActivity"
            android:exported="false"
            android:label="Pending Intents" />
        <activity
            android:name=".activityfragmentintents.fragmentcommunication.FragmentCommunicationActivity"
            android:exported="false"
            android:label="Communication" />
        <activity
            android:name=".activityfragmentintents.fragments.FragmentsDemoActivity"
            android:exported="false"
            android:label="Fragments" />
        <activity
            android:name=".activityfragmentintents.intent.ReturnWithResultDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activityfragmentintents.intent.ReceiveTextFromIntentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityfragmentintents.intent.IntentBrowserDemoActivity"
            android:exported="false"
            android:label="Browser Demo" />
        <activity
            android:name=".activityfragmentintents.intent.IntentDemoActivity"
            android:exported="false"
            android:label="Intents" />
        <activity
            android:name=".activityfragmentintents.activitylifecycle.ActivityLifecycleDemoActivity"
            android:exported="false"
            android:label="Activity Lifecycle" />
        <activity
            android:name=".activityfragmentintents.AndroidConceptsActivity"
            android:exported="false"
            android:label="Android Concepts" />

        <!-- other important views -->
        <activity
            android:name=".importantviews.webview.WebViewActivity"
            android:exported="false"
            android:label="Web View" />
        <activity
            android:name=".importantviews.nestedscrollbehaviour.NestedScrollBehaviourActivity"
            android:exported="false"
            android:label="Nested Scroll View Behaviour" />
        <activity
            android:name=".importantviews.multiplescrollview.MultipleScrollViewActivity"
            android:exported="false"
            android:label="Multiple Scroll Views" />
        <activity
            android:name=".importantviews.nestedscrollviews.NestedScrollViewsActivity"
            android:exported="false"
            android:label="Nested Scroll Views" />
        <activity
            android:name=".importantviews.searchdebounce.SearchDebounceActivity"
            android:exported="false"
            android:label="Search with debounce" />
        <activity
            android:name=".importantviews.search.SearchActivity"
            android:exported="false"
            android:label="Search Menu" />
        <activity
            android:name=".importantviews.ImportantViewsActivity"
            android:exported="false"
            android:label="Important Views Activity" />

        <!-- webservices -->
        <activity
            android:name=".webservices.okhttp.OKHttpDemoActivity"
            android:exported="false"
            android:label="OK Http Demo" />
        <activity
            android:name=".webservices.authretrofitrequests.view.RetrofitAuthDemoActivity"
            android:exported="false"
            android:label="Reqres Auth Demo" />
        <activity
            android:name=".webservices.downloadfile.DownloadLargeFileActivity"
            android:exported="false" />
        <activity
            android:name=".webservices.imageupload.ImgBBActivity"
            android:exported="false" />
        <activity
            android:name=".webservices.checknetworkavailability.ConnectivityDemoActivity"
            android:exported="false" />
        <activity
            android:name=".webservices.retrofit.view.RetrofitActivity"
            android:exported="false"
            android:label="Todos by Retrofit" />
        <activity
            android:name=".webservices.apicallsnolibrary.view.ManualApiCallsActivity"
            android:exported="false"
            android:label="Manual API Call HttpConnection" />
        <activity
            android:name=".webservices.WebservicesActivity"
            android:exported="false"
            android:label="Web Services" />

        <!-- permissions -->
        <activity
            android:name=".permissions.camera.CameraDemoActivity"
            android:exported="false"
            android:label="Camera Demo" />
        <activity
            android:name=".permissions.runtimepermissions.RuntimePermissionsActivity"
            android:exported="false"
            android:label="Runtime Permissions" />
        <activity
            android:name=".permissions.PermissionsDemoActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="com.example.androiddemoproject.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>